[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
rpi-gpio = {version = "*", sys_platform = "== 'linux'"}
fake-rpi = {version = "*", sys_platform = "== 'darwin'"}

[requires]
python_version = "3.9"
